<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cart</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/cart.css" />
    <script src="scripts/cart-num.js" defer></script>
  </head>
  <body>
     <%- include('includes/head')%>
    <main>
      <% if(!isAuth) { %>
        <h1>Please Log in to View the Cart</h1>
      <% } %>
      <% if(isAuth) { %>
      <h2>Your Cart</h2>

      <% for(let cart of cartItems) { %>
      <section id="cart">
        <div>
          <h3><%= cart.productName %></h3>
          <p>Rs <%= cart.price %> <span>(<%= cart.price * cart.items %> Rs)</span></p>
        </div>
        <form action="/cart/<%= cart._id %>" method="POST">
          <input type="number" name="count" value="<%= cart.items %>"/>
          <button>Update</button>
        </form>
      </section>
      <% } %>
      <section id="total">
        <p>Total:<span><%= cartValue %> Rs</span></p>
        <div>
          <a href="/orders" id="totalbtn">Buy Products</a>
        </div>
      </section>
      <% } %>
    </main>
  </body>
</html>
