<!DOCTYPE html>
<html lang="en">
  <head>
    <title>All Products</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/details.css" />
    <script src="scripts/listeners.js" defer></script>
  </head>
  <body>
    <%- include('includes/header') %>
    <main>
        <section class="products">
            <img src="/<%= productDetails.imagePath %>" alt="Magic pad">
            <div id="detail">
              <h3><%= productDetails.title %></h1>
              <p>Rs <%= productDetails.price %></p>
            <form action="/<%= productDetails._id %>/details" method="POST">
                <button id="addToCart">Add to Cart</button>
            </div>
        </section>
      <section class="product-details">
        <p><%= productDetails.summary %></p>
      </section>
    </main>
  </body>
</html>
