<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign Up</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/signup.css" />
    <script src="scripts/cart-num.js" defer></script>
  </head>
  <body>
    <%- include('includes/head') %>
    <main>
      <h2>Create New Account</h2>
      <form action="/signup" method="POST">
        <% if(input.message) { %>
        <h2 id="message"><%= input.message %></h2>
        <% } %>
        <label for="email">E-mail</label>
        <input type="email" id="email" name="email" value="<%= input.email %>" required />
        <label for="confirmemail">Confirm Email</label>
        <input type="email" id="confirmemail" name="confirmemail" value="<%= input.confirmEmail %>" required />
        <label for="password">Password</label>
        <input type="password" id="password" name="password" value="<%= input.password %>" required />
        <div id="border">
          <label for="name">Full Name</label>
          <input type="text" id="name" name="name" value="<%= input.name %>" required />
        </div>
        <label for="street">Street</label>
        <input type="text" id="street" name="street" value="<%= input.street %>" required />
        <label for="postal">Postal Code</label>
        <input type="number" id="postal" name="postalcode" value="<%= input.postal %>" required />
        <label for="city">City</label>
        <input type="text" id="city" name="city" value="<%= input.city %>" required />
        <button id="confirm-button">Create Account</button>
        <div>
          <a id="createuserbtn" href="/login">Login Instead</a>
        </div>
      </form>
    </main>
  </body>
</html>
